@font-face {
    font-family: 'JudsonRegular';
    src: url(../fonts/Judson/Judson-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

html {
    font-family: 'JudsonRegular', serif;
}


.header {
    background-color: rgba(164, 112, 164, 1);
}

.main {
    background-color: rgba(250, 238, 250, 1);
}

/* .main-info {
    background-color: aqua;
} */

.quote {
    background-color: #E4C6E4;
    padding: 40px;
    text-align: center;
}


.moon {
    text-align: center;
}

.moon-image {
    width: 300px;
}

.main-about {
    background-color: rgba(228, 198, 228, 0.69);
}


.footer {
   background-color: rgba(164, 112, 164, 1);
}